## https://gist.github.com/rodw/3006349
## 2024-07-02 13:24 
## archives and compressed files
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.xz
*.lzma
*.tar
*.tgz
*.tar.gz
*.iso
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

# 2025-06-16 Mon, 12:57
.vscode

#2025-08-27
.DS_Store
